body {
  background-image: url('img/pattern.jpg');
  background-color: #ccc;
  font-family: 'Shadows Into Light', cursive;
}

.main {
  max-width: 700px;
  text-align: center;
  margin: 30px auto;
  border: 1px solid black;
  width: 80%;
  background-color: #ccc;
}

img {
  border: 2px solid #ce9400;
  max-width: 80%;
}

img:hover {
  box-shadow: 3px 3px 10px #ce9400
}

p {
  font-size: 2em;
}