.container {
  display: flex;
  align-items: center;
}

.list>button {
  display: block;
  line-height: 200%;
  width: 100px;
}

.display {
  width: 80%;
  text-align: center;
}

.list {
  width: 20%;
}

img {
  width: 90%;
  border: 1px solid black;
}

.admin {
  width: 10%;
}

form {
  width: 50%;
}

.hide {
  display: none;
}